<div class="row">
    <div class="span12">
        <h1>Dernières publications</h1>
    </div>
</div>
<div class="row">
    <div class="span9">
    </div>
    <div class="span3">
        <form class="form-search">
            <input
            placeholder="Filtrer"
            ng-model="searchPodcast"
            type="text" class="input-medium search-query">
        </form>
    </div>
</div>
<div class="row">
    <ul class="thumbnails">
        <li class="span3" ng-repeat="podcast in podcasts.items | orderBy:'label' | filter:searchPodcast">
            <div class="thumbnail">
                <a href="#/podcast/{{ podcast.slug }}">
                    <img data-src="holder.js/209x126/text:cover" alt="209x126" bs-holder>
                    <div class="caption">
                        <strong>{{ podcast.label }}</strong>
                        <br>
                        <small>
                            {{ podcast.episodes }} épisodes
                            <i ng-show="podcast.audio" class="icon icon-headphones"></i>
                            <i ng-show="podcast.video" class="icon icon-eye-open"></i>
                        </small>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
