<div class="row">
    <div class="span3">
        <div class="thumbnail">
            <img data-src="holder.js/260x180/text:cover" alt="260x180" bs-holder>
        </div>
        <div class="about">
            <h2>À propos</h2>
            <p>
                {{ podcast.description }}
            </p>
        </div>
        <div class="team">
            <h2>Animateurs</h2>
            <ul class="unstyled">
                <li class="member" ng-repeat="member in podcast.team | orderBy:'name'">
                    <a href="#">
                       {{ member.name }}
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="span9">
        <h1>
            {{ podcast.label }}
            <small>par {{ podcast.author }}</small>
        </h1>
        <div class="episodes">
            <h2>Épisodes</h2>
            <ul class="unstyled">
                <li ng-repeat="episode in podcast.episodes">
                    <h3>
                        {{ episode.number }}. {{ episode.label }}
                    </h3>
                    <small>
                        Publié le {{ episode.released_at }}
                    </small>
                    <p>
                        {{ episode.summary }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>